.container{
    width:350px;
    height:600px;
    text-align: center;
}
.title{
    text-align: center;
}
ul{
    list-style: none;
    margin:5px 15px 30px -20px;
}
ul li{
    padding:10px 20px;
    margin:5px 0;    
}

ul li:nth-child(even) {
    background: rgb(233, 150, 150);
    border-radius: 5px;
}
  
ul li:nth-child(odd) {
    background: salmon;
    border-radius: 5px;
}
